<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <section class="navbar">
        <nav class="nav">
            <ul class="info">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>For enquiries please use the form below. Please note that due to the volume of submissions we cannot guarantee a response
        </p>

        <form id="contact-form">
            <div class="fields">
                <label for="name">Name:</label>
                <input class="contact-details" type="text" id="name" name="name" placeholder="Full Name" required>

            </div>

            <div class="fields">
                <label for="email">Email:</label>
                <input class="contact-details" type="email" id="email" name="email" placeholder="Email Address" required>

            </div>

            <div class="fields">
                <label for="message">Message:</label>
                <textarea class="message" id="message" name="message" placeholder="Message" required></textarea>

            </div>
            <button type="submit">Submit Message</button>
        </form>
        <div id="form-feedback"></div>
    </section>

    <section class="footer">
        <footer>
            <div class="footer-items">
                <a href="./views/projects.html">Projects</a>
                <a href="./views/about.html">About</a>
                <a href="./views/contact.html">Contact</a>
            </div>

            <div class="footer-items legal-terms">
                <a href="faq">Terms & Conditions</a>
                <a href="haha">Privacy Policy</a>
                <a href="haha">Cookies</a>
                <!-- <a href="haha"></a> -->
            </div>

            <div class="footer-items connect">
                <a href="https://www.instagram.com/sujanvg/">Instagram</a>
                <a href="https://x.com/sujanvgg">X(Twitter)</a>
                <a href="https://www.linkedin.com/in/sujan-thapa-1571a91bb/">Linkedin</a>
                <a href="https://www.facebook.com/profile.php?id=100007906269613">Facebook</a>
            </div>

        </footer>
    </section>

    <script src="../Form_Enhancement/formEnhancement.js"></script>
</body>
</html>