<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>

<body>

    <body>
        <section class="navbar">
            <nav class="nav">
                <ul class="info">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./projects.html">Projects</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </section>

        <section id="projects">
            <div class="heading">
                <h3>Sujan Thapa involves in some of the projects during his time of school and workplace.</h3>

            </div>
            <!-- <div class="box left">
                <h3>Online Job Portal</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi at doloremque nihil beatae
                    iusto possimus ratione deleniti sequi illo modi nisi recusandae, est quis architecto ullam sapiente
                    necessitatibus iste id odio libero minima provident atque. Nobis, accusantium nisi, reiciendis et
                    nihil pariatur necessitatibus accusamus earum, amet nulla voluptatem facere?</p>

            </div>

            <div class="box right">
                <h5>Movie Recommendation System</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi at doloremque nihil beatae
                    iusto possimus ratione deleniti sequi illo modi nisi recusandae, est quis architecto ullam sapiente
                    necessitatibus iste id odio libero minima provident atque. Nobis, accusantium nisi, reiciendis et
                    nihil pariatur necessitatibus accusamus earum, amet nulla voluptatem facere?</p>
            </div>

            <div class="box left">
                <h5>Auto Consulting System</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi at doloremque nihil beatae
                    iusto possimus ratione deleniti sequi illo modi nisi recusandae, est quis architecto ullam sapiente
                    necessitatibus iste id odio libero minima provident atque. Nobis, accusantium nisi, reiciendis et
                    nihil pariatur necessitatibus accusamus earum, amet nulla voluptatem facere?</p>
            </div>

            <div class="box right">
                <h5>Ride Sharing App(Wahan)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi at doloremque nihil beatae
                    iusto possimus ratione deleniti sequi illo modi nisi recusandae, est quis architecto ullam sapiente
                    necessitatibus iste id odio libero minima provident atque. Nobis, accusantium nisi, reiciendis et
                    nihil pariatur necessitatibus accusamus earum, amet nulla voluptatem facere?</p>
            </div> -->

        </section>

        <section class="footer">
            <footer>
                <div class="footer-items">
                    <a href="./projects.html">Projects</a>
                    <a href="./about.html">About</a>
                    <a href="./contact.html">Contact</a>
                </div>

                <div class="footer-items legal-terms">
                    <a href="faq">Terms & Conditions</a>
                    <a href="haha">Privacy Policy</a>
                    <a href="haha">Cookies</a>
                    <!-- <a href="haha"></a> -->
                </div>

                <div class="footer-items connect">
                    <a href="https://www.instagram.com/sujanvg/">Instagram</a>
                    <a href="https://x.com/sujanvgg">X(Twitter)</a>
                    <a href="https://www.linkedin.com/in/sujan-thapa-1571a91bb/">Linkedin</a>
                    <a href="https://www.facebook.com/profile.php?id=100007906269613">Facebook</a>
                </div>

            </footer>
        </section>

        <script src="../Dynamic_Projects/dynamicProjects.js"></script>

    </body>
</body>

</html>